* {
  border-radius: 0!important;
}

.card-operation,
.list-gradient-top,
.list-gradient-bottom,
#board-header a.board-name img,
.header-btn.header-help {
  display: none;
}

.badge {
  margin-top: 4px;
  background: white;
  border-radius: 2px!important;
}

.list-cards {
  padding: 0;
}

.list-card {
  margin-bottom: 0;
  padding: 10px 8px;
  background: white;
  border: none;
  border-bottom: 1px dashed rgb(229, 229, 229);
}

.list-card:hover {
  background: rgb(240, 240, 240);
  border-bottom: 1px dashed rgb(229, 229, 229);
}

.list-card.ui-sortable-helper {
  border: none;
}

.list.placeholder {
  background-image: none!important;
}

.list-title {
  text-align: center;
  border-bottom: 1px dashed rgb(229, 229, 229);
  padding-top: 7px;
  padding-bottom: 14px;
}

.list-card-members {
  margin: 8px 0px -6px 0;
}

.member {
  border: none!important;
  background: none!important;
}

.member span {
  display: none;
}

.list-card-members .member:last-of-type {
  margin-right: -4px;
}

.member .member-avatar {
  border-radius: 64px!important;
  width: 28px;
  height: 28px;
}

.open-card-composer {
  margin: 0;
  padding: 10px 0 12px 0;
  text-align: center;
}

.open-card-composer:hover {
  text-decoration: none;
  background: none;
  color: rgb(110, 175, 183);
}

.board-widgets {
  background: white;
  width: 320px;
}

.board-wrapper.disabled-all-widgets .board-widgets {
  -ms-transform: translateX(380px);
  -webkit-transform: translateX(380px);
  transform: translateX(380px);
}

.list-card.placeholder {
  background: rgb(240,240,240);
}

.list-card .card-labels {
  display: none;
  margin: 0 0 4px 0;
}

.list-card .card-labels .card-label {
  width: 10px;
  height: 10px;
  margin-right: 6px;
  border-radius: 20px!important;
}

#header {
  background: white;
}

#header .header-btn-text {
  color: rgb(50, 50, 50)!important;
}

#header .icon-lg {
  color: rgb(70, 70, 70)!important;
}

#header-search {
  background: none;
  margin-left: 4px;
}

#header-search .icon-lg {
  color: rgb(200,200,200)!Important;
}

#header-search:hover .icon-lg {
  color: rgb(90, 90, 90)!important;
}

#header-search .header-btn {
  margin-right: 0;
  background: rgb(240, 240, 240);
}

#header-search #search-text {
  background: rgb(240, 240, 240);
}

.card-label {
  text-shadow: none;
}

.header-auth.member {
  margin-top: 1px;
}

.board-list li a .unread-indicator,
.pop-over-list li>a .unread-indicator,
.org-list li a .unread-indicator {
  border-radius: 7px!important;
}


#board-header a.board-name.has-org-logo .text {
  font-size: 13px;
  font-weight: bold;
  line-height: 30px;
  padding-left: 2px;
}

.sidebar-show-btn .text {
  font-size: 13px;
  text-decoration: none;
}

body.window-up #surface {
  -webkit-filter: blur(1px);
}

.list-card .list-card-details {
  padding-left: 10px;
  padding-right: 10px;
}

.add-list form {
  padding: 10px;
}

input[type="submit"].primary,
input[type="button"].primary,
button.primary,
.button.primary {
  background: rgb(36, 168, 40);
}

input[type="submit"].primary:hover,
input[type="button"].primary:hover,
button.primary:hover,
.button.primary:hover {
  background: rgb(31, 147, 35);
}

.task-progress-total .progress-current {
  background: rgb(34, 136, 195);
}

/*
 * Add a subtle drop shadow to the header on profile pages.
 */

.wide-profile #header {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

/*
 * Make cards full width on profile pages.
 */

.wide-profile .float-cards .list-card-container {
  width: 100%;
}

.wide-profile .list-card {
  max-width: none;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

/*
 * Tweak card appearance on profile pages.
 */

.wide-profile .list-card {
  border: 1px solid white;
}

.wide-profile .list-card:hover {
  border: 1px solid rgba(0,0,0,0.3);
  background: white;
}

/*
 * Hide window module icons on profile pages.
 */

.wide-profile .window-module-title-icon {
  display: none;
}

/*
 * Hide ads
 */

.bc-pitch,
.gold-pitch {
  display: none!important;
}

/*
 * Flatten sidebar nav on profile pages.
 */

.sidebar-nav li {
  margin-top: 12px;
  margin-bottom: 14px;
}

.sidebar-nav a {
  padding-top: 0;
  padding-bottom: 0;
  border-left: 3px solid transparent;
}

.sidebar-nav a.active {
  background: none;
  color: rgb(68, 68, 68);
  border-left: 3px solid rgb(68, 68, 68);
}

.sidebar-nav a:hover {
  color: rgb(68, 68, 68);
  background: none;
  border-left: 3px solid rgb(168, 168, 168);
}

/*
 * Remove the profile picture on all pages.
 */

.profile-member {
  display: none;
}

/*
 * Swap columns around on all pages and give them consistent widths.
 */

.wide-profile .window-main-col,
.fixed-content .window-main-col {
  width: 690px;
  float: right;
}

.wide-profile .window-sidebar,
.fixed-content .window-sidebar {
  float: left;
}

.wide-profile .gutter {
  margin-left: 0;
}

.wide-profile .window-module-title {
  margin-left: 0;
}

body.fixed-content #content {
  width: 900px;
}

/*
 * Clean up borders on profile pages.
 */

.wide-profile .window-module {
  margin-bottom: 0;
}

.wide-profile .window-module-title {
  padding: 20px 0;
  border-bottom: none;
}


/*
 * Bigger board titles on profile pages.
 */

.wide-profile .window-module-title h3 {
  font-weight: normal;
  font-size: 24px;
}

.wide-profile .window-module-title h3 a {
  text-decoration: none;
}

.wide-profile .window-module-title a.inline-block,
.wide-profile .window-module-title .icon-org-private {
  float: right;
  line-height: 36px;
}

/*
 * Flatten buttons
 */

.button-link .on {
  background: rgb(36, 168, 40);
}

/*
 * Invert the logo
 */
#header .header-logo {
  -webkit-filter: invert(1);
  opacity: 0.2;
}

/*
 * Remove the header box-shadow on boards
 */

.full-content #header {
  box-shadow: none;
}

/*
 * Hide cover images on boards
 */

.full-content .list-card-cover {
  display: none;
}

/*
 * Fix spacing for list controls
 */

.full-content .card-composer .cc-controls {
  margin-top: 4px;
  margin-left: 8px;
}

/*
 * Replace the board background colour
 */

.board-wrapper {
  background: rgb(204, 204, 204);
  background: rgb(220, 220, 220);
}

.board-canvas {
  background: none!important;
}

/*
 * Flatten card lists
 */

.list {
  padding-right: 0;
  padding-left: 0;
  background: white;
}

/*
 * Flatten the board header
 */

#board-header {
  height: 30px;
  padding-top: 0;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

#board-header .org-name {
  display: none;
}

#board-header .board-header-btns {
  display: none;
}

#board-header a.board-name.has-org-logo .text {
  padding-left: 0;
}

/*
 * Flatten the sidebar button
 */

.sidebar-hide-btn .icon-sm {
  background: white;
}

/*
 * Scrollbars
 */

.list-area-wrapper::-webkit-scrollbar-track-piece {
  background: rgb(200,200,200);
}

.list-area-wrapper::-webkit-scrollbar-thumb:horizontal {
  background: rgba(255,255,255,0.9);
}

/*
 * Flatten the notification count
 */

.header-btn span.count {
  position: static;
  top: 0;
  right: 0;
  padding: 4px 7px;
  display: inline-block;
  width: 12px;
  text-align: center;
  background: none;
  box-shadow: none;
  color: red;
}

.header-btn span.count:hover {
  background: none;
  color: red;
}

.header-btn:hover span.count {
  background: none;
}

/*
 * Hide the little doggy
 */

.header-woof, .woof-crouch {
  display: none!important;
}

/*
 * Clean up image attachment previews
 */

.attachment-image-preview {
  max-width: 33%!important;
  background: none;
  border: 1px solid rgb(255, 255, 255);
  padding: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}